
<div class="wrapper vh-100">
    <div class="row align-items-center h-5f0">
        <form class="col-lg-3 col-md-4 col-10 mx-auto text-center">
             <div class="navbar-brand mx-auto mt-2 flex-fill text-center pb-5 text-center">
                <img src="~/image/salian-v.png" alt="salianLogo" />
            </div>

            <p class="text-muted">بازیابی رمزعبور</p>
            <div class="form-group">
                <label for="inputEmail" class="sr-only">ایمیل</label>
                <input type="email" id="inputEmail" class="form-control form-control-lg" placeholder="آدرس ایمیل" required="" autofocus="">
            </div>
            <button class="btn btn-lg btn-block" id="salian-btn" type="submit">بازیابی</button>
        </form>
    </div>
</div>
