 <div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-8">
            <div class="my-4">
                <form>
                    <div class="row mt-5 align-items-center">
                    
                    <div class="col">
                        <div class="row align-items-center">
                        <div class="col-md-7">
                            <h4 class="mb-1">تنظیمات</h4>
                        </div>
                        </div>
                    </div>
                    </div>
                    <hr class="my-4">
                  
                    <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="inputEmail4">ایمیل</label>
                            <input type="email" class="form-control" id="inputEmail4">
                        </div>
                    </div>
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="inputMobile">شماره موبایل</label>
                                <input type="text" class="form-control" id="inputMobile">
                        </div>
                    </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputPassword5">رمزعبور جدید</label>
                                <input type="password" class="form-control" id="inputPassword5">
                            </div>

                        </div>
                        <div class="col-md-6 mt-3">
                            <ul class="small text-muted pl-4 mb-0" style="color : black !important;">
                                <li> حداقل 8 کاراکتر </li>
                                <li>شامل حداقل یک کاراکتر خاص</li>
                                <li>شامل حداقل یک عدد</li>
                            </ul>
                        </div>
                    </div>
                    <button type="submit" class="btn" id="salian-btn">ذخیره</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/jquery.min.js"></script>
    <script>
      
       /* $(document).ready(function () {
            $("button[type = sumbit]").hover(function () {
                alert("okkk");
            })
        })*/
    </script>
}

