<div class="wrapper">

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-10">
                <div class="row align-items-center my-4">
                    <div class="col">
                        <h2 class="h3 mb-0 page-title">افزودن موقعیت</h2>
                        <hr class="my-4">

                    </div>

                </div>
                <form asp-action="">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="title">عنوان </label>
                            <input type="text" id="title" class="form-control">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="abbreviation">مخفف </label>
                            <input type="text" id="abbreviation" class="form-control">
                        </div>
                    </div>

                    <div class="form-row">
                        <label for="isShowing" class="mr-4">وضعیت : </label>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="isShowing" name="isShow" value="1" class="custom-control-input" checked>
                            <label class="custom-control-label" for="isShowing">نمایش </label>
                        </div>
                        <div class="custom-control custom-radio ">
                            <input type="radio" id="hidding" name="isShow" value="0" class="custom-control-input">
                            <label class="custom-control-label" for="hidding">عدم نمایش</label>
                        </div>
                    </div>
                    <div class="form-row col-auto mt-4">
                        <button type="button" class="btn btn-primary">ذخیره</button>
                    </div>
                </form>
            </div> <!-- .col-12 -->
        </div> <!-- .row -->
    </div>
</div> 