<!-- add and btn section -->
<div class="row col-md-12 my-2">
    <div class="col ml-auto">
        <div class="dropdown float-right">
            <button class="btn btn-secondary float-right ml-3" type="button">Export Excel</button>
        </div>
    </div>
</div>
<!-- add and btn section -->
<!-- filter section -->
<div class="row my-2">
    <div class="col-md-12">
        <div class="card shadow mb-4">
            <div class="card-header">
                <strong class="card-title">فیلتر</strong>
            </div>
            <div class="card-body">
                <form method="post">
                    <div class="form-row">
                        @*  <div class="form-group col-md-2">
                        <input type="text" class="form-control drgpicker" id="date-input1" value="04/24/2020" aria-describedby="button-addon2">
                        <div class="input-group-append">
                        <div class="input-group-text" id="button-addon-date"><span class="fe fe-calendar fe-16"></span></div>
                        </div>
                        </div>  *@
                        <div class="form-group col-md-2">
                            <label for="inputUsername"><strong>نام کاربر</strong></label>
                            <input type="text" class="form-control" id="inputUsername">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="date-input1"><strong>تاریخ شروع</strong></label>
                            <div class="input-group">
                                <input type="text" class="form-control drgpicker" id="date-input1" value="@ViewBag.nowDate" aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <div class="input-group-text" id="button-addon-date"><span class="fe fe-calendar fe-16"></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="date-input1"><strong>تاریخ شروع</strong></label>
                            <div class="input-group">
                                <input type="text" class="form-control drgpicker" id="date-input1" value="@ViewBag.nowDate" aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <div class="input-group-text" id="button-addon-date"><span class="fe fe-calendar fe-16"></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="simple-select2"><strong>نوع عملیات</strong></label>
                            <select class="form-control select2-multi" id="multi-select2" name="actionType[]">
                                @* <option value="" selected>انتخاب کنید</option> *@
                                <option value="0">ورود</option>
                                <option value="1">جابجایی</option>
                            </select>
                        </div>
                        @*   <div class="form-group col-md-2">
                        <label for="simple-select2"><strong> تاریخ شروع</strong></label>
                        <input type="text" name="startDate" class="form-control" onclick="PersianDatePicker.Show(this, '1404-01-01');" />
                        </div>
                        <div class="form-group col-md-2">
                        <label for="simple-select2"><strong>تاریخ پایان</strong></label>
                        <input type="text" name="endDate" class="form-control" onclick="PersianDatePicker.Show(this, @ViewBag.nowDate);" />
                        </div> *@

                        <div class="form-group col-md-2 my-4 py-1">
                            <button type="submit" class="btn mb-2 my-auto" id="salian-btn">جستجو</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end  filter section -->
    <div class="wrapper">
        <div class="row justify-content-center">
            <div class="col-12">
                    <div class="row my-4">
                    <!-- Small table -->
                    <div class="col-md-12">
                        <div class="card shadow">
                            <div class="card-body">
                                <!-- table -->
                                <table class="table datatables" id="dataTable-1">
                                    <thead class="salian-thead">
                                        <tr>
                                            <th>نام کاربر</th>
                                            <th>IP کاربر</th>
                                            <th>نوع عملیات</th>
                                            <th> تاریخ میلادی</th>
                                            <th> تاریخ شمسی</th>
                                            <th>عملیات</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                <tr>
                                    <td>حسن پور</td>
                                    <td>192.168.90.79</td>
                                    <td>جابجایی</td>
                                    <td>2025-12-29</td>
                                    <td>1404-10-08</td>
                                    <td>
                                        <span class="circle circle-sm bg-danger"><i class="fe fe-trash-2 fe-16 text-white"></i></span>
                                        <span class="circle circle-sm bg-success"><i class="fe fe-file-text fe-16 text-white"></i></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>حسن پور</td>
                                    <td>192.168.90.79</td>
                                    <td>جابجایی</td>
                                    <td>2025-12-29</td>
                                    <td>1404-10-08</td>
                                    <td>
                                        <span class="circle circle-sm bg-danger"><i class="fe fe-trash-2 fe-16 text-white"></i></span>
                                        <span class="circle circle-sm bg-success"><i class="fe fe-file-text fe-16 text-white"></i></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>حسن پور</td>
                                    <td>192.168.90.79</td>
                                    <td>جابجایی</td>
                                    <td>2025-12-29</td>
                                    <td>1404-10-08</td>
                                    <td>
                                        <span class="circle circle-sm bg-danger"><i class="fe fe-trash-2 fe-16 text-white"></i></span>
                                        <span class="circle circle-sm bg-success"><i class="fe fe-file-text fe-16 text-white"></i></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>حسن پور</td>
                                    <td>192.168.90.79</td>
                                    <td>جابجایی</td>
                                    <td>2025-12-29</td>
                                    <td>1404-10-08</td>
                                    <td>
                                        <span class="circle circle-sm bg-danger"><i class="fe fe-trash-2 fe-16 text-white"></i></span>
                                        <span class="circle circle-sm bg-success"><i class="fe fe-file-text fe-16 text-white"></i></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>حسن پور</td>
                                    <td>192.168.90.79</td>
                                    <td>جابجایی</td>
                                    <td>2025-12-29</td>
                                    <td>1404-10-08</td>
                                    <td>
                                        <span class="circle circle-sm bg-danger"><i class="fe fe-trash-2 fe-16 text-white"></i></span>
                                        <span class="circle circle-sm bg-success"><i class="fe fe-file-text fe-16 text-white"></i></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>حسن پور</td>
                                    <td>192.168.90.79</td>
                                    <td>جابجایی</td>
                                    <td>2025-12-29</td>
                                    <td>1404-10-08</td>
                                    <td>
                                        <span class="circle circle-sm bg-danger"><i class="fe fe-trash-2 fe-16 text-white"></i></span>
                                        <span class="circle circle-sm bg-success"><i class="fe fe-file-text fe-16 text-white"></i></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>حسن پور</td>
                                    <td>192.168.90.79</td>
                                    <td>جابجایی</td>
                                    <td>2025-12-29</td>
                                    <td>1404-10-08</td>
                                    <td>
                                        <span class="circle circle-sm bg-danger"><i class="fe fe-trash-2 fe-16 text-white"></i></span>
                                        <span class="circle circle-sm bg-success"><i class="fe fe-file-text fe-16 text-white"></i></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>حسن پور</td>
                                    <td>192.20.20.79</td>
                                    <td>جابجایی</td>
                                    <td>2025-12-29</td>
                                    <td>1404-10-08</td>
                                    <td>
                                        <span class="circle circle-sm bg-danger"><i class="fe fe-trash-2 fe-16 text-white"></i></span>
                                        <span class="circle circle-sm bg-success"><i class="fe fe-file-text fe-16 text-white"></i></span>
                                    </td>
                                </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> 
                </div> 
            </div> 
        </div> 
            <div class="modal fade modal-notif modal-slide" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="defaultModalLabel">Notifications</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="list-group list-group-flush my-n3">
                                <div class="list-group-item bg-transparent">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <span class="fe fe-box fe-24"></span>
                                        </div>
                                        <div class="col">
                                            <small><strong>Package has uploaded successfull</strong></small>
                                            <div class="my-0 text-muted small">Package is zipped and uploaded</div>
                                            <small class="badge badge-pill badge-light text-muted">1m ago</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-group-item bg-transparent">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <span class="fe fe-download fe-24"></span>
                                        </div>
                                        <div class="col">
                                            <small><strong>Widgets are updated successfull</strong></small>
                                            <div class="my-0 text-muted small">Just create new layout Index, form, table</div>
                                            <small class="badge badge-pill badge-light text-muted">2m ago</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-group-item bg-transparent">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <span class="fe fe-inbox fe-24"></span>
                                        </div>
                                        <div class="col">
                                            <small><strong>Notifications have been sent</strong></small>
                                            <div class="my-0 text-muted small">Fusce dapibus, tellus ac cursus commodo</div>
                                            <small class="badge badge-pill badge-light text-muted">30m ago</small>
                                        </div>
                                    </div> <!-- / .row -->
                                </div>
                                <div class="list-group-item bg-transparent">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <span class="fe fe-link fe-24"></span>
                                        </div>
                                        <div class="col">
                                            <small><strong>Link was attached to menu</strong></small>
                                            <div class="my-0 text-muted small">New layout has been attached to the menu</div>
                                            <small class="badge badge-pill badge-light text-muted">1h ago</small>
                                        </div>
                                    </div>
                                </div> <!-- / .row -->
                            </div> <!-- / .list-group -->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Clear All</button>
                        </div>
                    </div>
                </div>
            </div>

    </div> <!-- .wrapper -->
 
