<div class="wrapper">

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-10">
                <div class="row align-items-center my-4">
                    <div class="col">
                        <h2 class="h3 mb-0 page-title">افزودن ویژگی ها</h2>
                        <hr class="my-4">

                    </div>

                </div>
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="faName"> نام</label>
                            <input type="text" id="faName" name="faName" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="multi-select2">قطعات</label>
                            <select class="form-control select2-multi" id="multi-select2" name="EquipmentIds[]">
                                <option value="1">مانیتور</option>
                                <option value="2">هارد اکسترنال</option>
                                <option value="3">لپ تاب</option>
                            </select>
                        </div> 
                    </div>
                    <div class="form-row col-auto mt-4">
                        <button type="submit" class="btn btn-primary">ذخیره</button>
                    </div>
                </form>
            </div> 
        </div>
    </div>
</div> 